$color1: #1D2F6F;
$color2: #8DA7BE;
$color3: #526ea8;
$color4: #423629;
$color5: #044056;
$white: #FFF;

$buttons:(
    margen-top: 20px,
    margen-izq: 95px,
    radio: 5px,
    fondo: $color1,
    texto: $white,
)